.game-title {
   font-size: 2rem; /* Adjust the font size as needed */
   font-weight: bold;
   color: #e8cbcb; /* Choose your desired text color */
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 5px; /* Adjust letter spacing for style */
   margin-bottom: 20px; /* Add spacing between the title and content */
   border-bottom: 2px solid #007BFF; /* Add an underline with your preferred color */
   padding-bottom: 10px; /* Space between text and underline */
 }
 .turn-title {
   font-size: 2rem; /* Adjust the font size as needed */
   font-weight: bold;
   color: #e8cbcb; /* Choose your desired text color */
   display: flex;
   align-items: center;
   justify-content: center ;
   // margin-top: 10px; /* Add spacing between the title and content */
   margin-bottom: 20px; /* Add spacing between the title and content */

 }

.board {
   display: grid;
   align-content: center;
   justify-content: center;
   align-items: center;
   justify-items: center;

   grid-template-columns: repeat(3, auto); 
}
.currentBoard {
   border-color: white;
   animation: fade 2s linear infinite;
}
@keyframes fade {
   0% {
      border-image: linear-gradient(45deg, white);
      border-image-slice: 1;
    }
    100% {
      border-image: linear-gradient(45deg, black);
      border-image-slice: 1;
    }
}
.parentCell {
   --parentCell-size: 250px;
   // border-color: black;
   border-width: 1px;
   display: grid;
   position: relative;
   cursor: pointer;
   width: var(--parentCell-size);
   height: var(--parentCell-size);
   align-content: center;
   justify-content: center;
   align-items: center;
   justify-items: center;

   grid-template-columns: repeat(3, auto);
}
.mediumCell {
   --parentCell-size: 150px;
   border-color: transparent;
   border-width: 1px;
   display: grid;
   position: relative;
   cursor: pointer;
   width: var(--parentCell-size);
   height: var(--parentCell-size);
   align-content: center;
   justify-content: center;
   align-items: center;
   justify-items: center;
   overflow: hidden;
   grid-template-columns: repeat(3, auto);
}
.childCell {
   --parentCell-size: 50px;
   border-color: black;
   border-width: 1px;
   display: flex;
   position: relative;
   cursor: pointer;
   width: var(--parentCell-size);
   height: var(--parentCell-size);

   align-content: center;
   justify-content: center;
   align-items: center;
}
/* remove border for edges */
cell:nth-child(1), cell:nth-child(2), cell:nth-child(3) {
	border-top: none;
}

cell:nth-child(1), cell:nth-child(4), cell:nth-child(7) {
	border-left: none;
}

cell:nth-child(3), cell:nth-child(6), cell:nth-child(9) {
	border-right: none;
}

cell:nth-child(7), cell:nth-child(8), cell:nth-child(9) {
	border-bottom: none;
}

.player1Color {
   color: red;
}
.player1Border {
   border-color: red;
}

.player2Color {
   color:blue;
}
.player2Border {
   border-color: blue;
}

.childbo {
   border-color: #007BFF;
}