.bg-presagis {
   background-image: url('../../../public/Images/presagis.png');
   background-size: cover; /* Adjust the image size to cover the container */
   background-repeat: no-repeat; /* Prevent image repetition */
   background-position: center;
}