@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    --cell-color: #0275d8;
    --cell-color-set: #5d7b95;
}

body {
    @apply text-lg
}

/* color */
.bg-primary {
    background: #1F1F1F;
}

.bg-secondery {
    background: #0b1622e4;
}
.bg-third {
    background: #151f2ea3;
}
.bg-fourth {
    background: #747e8a;
}

.bg-accent {
    background: #7477FF;
}

.text-accent {
    color: #12c2b9;
}

nav li a {
    @apply px-4 py-5 text-lg;
}

nav li a:hover {
    color: #07928b;
}
